# version: "3.9"

services:
  app:
    build: .
    ports:
      - "5173:5173"  # Vite のデフォルトポート
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: ["npx","vite","--host","0.0.0.0"]
    # command: npm run dev -- --host
